@import "variables";

.logoSection {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  @media screen and (max-width: $bp-tablet) {
    padding: 0;
  }
}
.logo {
  width: 90%;
  @media screen and (max-width: $bp-tablet) {
    width: 100%;
    padding: 20px 0;
  }
}
.menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  gap: 33px;
}

.link {
  color: var(--dark-sea);
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
}

.link:hover {
  color: var(--white);
}

.link.active {
  color: var(--violet);
}

.track {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 340px;
  height: 280px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 1rem;
  padding: 0.4rem 0.6rem;
  transform-style: preserve-3d;
}
.image {
  aspect-ratio: 16 / 9;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 340px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 1rem;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
}
.title {
  color: var(--color-brand-dark);
  font-size: 20px;
  padding: 10px 14px 5px;
  margin: 0;
  transform: translateZ(60px);
}
