:root {
  --brand: #ced0ef;
  --brand-dark: #585462;
  --primary-light: #d2cccc;
  --primary-dark: #514f59;
  --primary-politic: #747272;
  --bgColorMenu: #1d1d27;
  --duration: 0.7s;
}
@mixin backfon {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 18px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 1rem;
}
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1100px;
